[Unit]
Description=Mon Script Python
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/admin/Documents/goproProject/.venv/bin/python /home/admin/Documents/goproProject/server.py
[Install]
WantedBy=multi-user.target
